.body{
    position: fixed;
    padding-top: 30px;
    width: 75%;
    margin-left: 170px;
    height: 100%;
    background-color: #4169E1;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.height, .weight{
    width: 70px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    font-size: 16px;
    border: 3px solid black;
}

.buttonChange, .buttonSave{
    cursor: pointer;
    background: white;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 20px;
}

.buttonChange:hover, .buttonSave:hover{
    letter-spacing: 0.15em;
    border: 4px solid blue;
    box-shadow: 0 0 35px blue;
    color: blue;
}

