.body{
    position: fixed;
    padding-top: 40px;
    width: 75%;
    margin-left: 170px;
    height: 100%;
    background-color: #4169E1;
    border-left: 1px solid black;
    border-right: 1px solid black;
}   